*.class
*.jar
*.war
*.ear
pom.xml
src/main/resources/glosser-hibernate.cfg.xml
src/main/resources/hibernate.cfg.xml
src/test/resources/hibernate.cfg.xml
src/main/webapp/WEB-INF/jetty-realm.properties
src/target/*
src/documents/*
src/logs/*
.DS_Store
.classpath
.project
.settings/com.google.gdt.eclipse.core.prefs
.settings/org.eclipse.jdt.core.prefs
log/.DS_Store
logs/.DS_Store
lucene/TryMeGlosser/segments.gen
