*.class
*.jar
*.war
*.ear
pom.xml
src/main/resources/glosser-hibernate.cfg.xml
src/main/resources/hibernate.cfg.xml
src/test/resources/hibernate.cfg.xml
.gwt/
.settings/com.google.appengine.eclipse.core.prefs
.settings/com.google.gwt.eclipse.core.prefs
src/lucene/*
src/main/java/au/edu/usyd/reviewer/server/util/.DS_Store
src/main/webapp/.DS_Store
src/main/webapp/images/.DS_Store
uploads/*
src/main/.DS_Store
src/main/webapp/WEB-INF/jetty-realm.properties
src/target/*
src/documents/*
src/logs/*
src/log/*
src/uploads/*
.DS_Store
.classpath
.project
.settings/com.google.gdt.eclipse.core.prefs
.settings/org.eclipse.jdt.core.prefs
log/.DS_Store
logs/.DS_Store
