<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%c] - %m%n" />
		</layout>
	</appender>

	<appender name="reviewer-warn" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="logs/reviewer-warn.log" />
		<param name="maxFileSize" value="2048KB" />
		<param name="maxBackupIndex" value="100" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p (%x): [%c] - %m%n" />
		</layout>
	</appender>

	<appender name="reviewer-error" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="logs/reviewer-error.log" />
		<param name="maxFileSize" value="2048KB" />
		<param name="maxBackupIndex" value="100" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p (%x): [%c] - %m%n" />
		</layout>
	</appender>

	<logger name="au.edu.usyd">
		<level value="error" />
		<appender-ref ref="reviewer-error" />
		<level value="warn" />
		<appender-ref ref="reviewer-warn" />
	</logger>

	<root>
		<priority value="warn" />
		<appender-ref ref="stdout" />
	</root>

</log4j:configuration>