body,#mainPanel {
	margin: 0px auto;
	text-align: center;
}

a:link,a:visited,a:active {
	cursor: pointer;
	color: #12416C !important;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	color: #0000FF !important;
	text-decoration: underline;
}

a img {
	border-style: none;
}

a span {
	padding: 2px;
}

.activityLabel {
	padding: 5px 0 0 5px;
}

.contentDeco {
	background: #e5ecf9;
	border: 5px solid #a3bae8;
}

.instructionsDeco {
	margin-top: 10px;
	margin-bottom: 25px;
	padding: 8px;
	border: 2px solid #e5ecf9;
}

.menuDeco {
	background: #e5ecf9;
	border: 5px solid #a3bae8;
	border-right: 0px solid #a3bae8;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
	background: #FFFFFF;
}

.documentsTable {
	border-collapse: collapse;
}

.documentsTableHeader {
	border-bottom: thin solid #D0E4F6 !important;
}

.documentsTableRow {
	border-bottom: thin solid #D0E4F6 !important;
}

.documentsTableRowHeader {
	border-bottom: thin solid #D0E4F6 !important;
	/*background-color: #E0E0E0 !important; #92C1F0*/
	background-color: #92C1F0 !important; 
}


.reviewContent {
	border: thin solid #000000;
	padding: 8px;
}

.error {
	color: red;
	font-style: italic;
}

.gwt-TreeItem .gwt-Button {
	padding: 1px !important;
}

/* assessment flex table */
.questionList { /*border: 1px solid silver;*/
	padding: 20px;
	margin-bottom: 6px;
	cellspacing: 20px;
}

/*assessment flex table header*/
.questionHeader {
	background-color: #2062B8;
	color: white;
	font-style: italic;
	text-align: center;
}

/* assessment quality measure column */
.qualityMeasureList {
	text-align: center;
}

/* validation feedback  */
.feedbackstyle {
	color: red;
	font-style: italic;
}

/* validation error  */
.gwt-TextBox-error {
	border: 2px solid red;
	font-style: italic;
}

/*saved in site*/
.savedstyle {
	background-color: #6495ED;
	font-style: italic;
	text-align: center;
}

/** Add css rules here for your application. */

.RichTextToolbar {
	background: #E2E2E2;
	padding:5px;
	margin:0px;
	/*border: red 1px solid;*/
}

.RichTextToolbar .gwt-ToggleButton {
	background: #F4F4F4;
	border: 1px outset #ccc;
}

.RichTextToolbar .gwt-PushButton {
	background: #F4F4F4;
	border: 1px outset #ccc;
}

.RichTextToolbar .gwt-ToggleButton-up-hovering {
	background: #F4F4F4;
	border-color: #9cf #69e #69e #7af;
}

.RichTextToolbar .gwt-PushButton-up-hovering {
	background: #F4F4F4;
	border-color: #9cf #69e #69e #7af;
}

.RichTextToolbar .gwt-ToggleButton-down {
	background: #D5D5D5;
	border-color: #777777 #777777 #777777 #777777;
}

.RichTextToolbar .gwt-PushButton-down {
	background: #D5D5D5;
	border-color: #777777 #777777 #777777 #777777;
}

.RichTextToolbar .gwt-ToggleButton-down-hovering {
	background: #D5D5D5;
	border-color: #9cf #69e #69e #7af;
}

.RichTextToolbar .gwt-PushButton-down-hovering {
	background: #D5D5D5;
	border-color: #9cf #69e #69e #7af;
}

.RichTextToolbar .gwt-PushButton-up-disabled {
	background: #717171;
	border-color: #B9968F #B9968F #B9968F #B9968F;
}

.RichTextToolbar .gwt-PushButton-down-disabled {
	background: #717171;
	border-color: #B9968F #B9968F #B9968F #B9968F;
}

.RichTextToolbar .gwt-ToggleButton-up-disabled {
	background: #717171;
	border-color: #B9968F #B9968F #B9968F #B9968F;
}

.RichTextToolbar .gwt-ToggleButton-down-disabled {
	background: #717171;
	border-color: #B9968F #B9968F #B9968F #B9968F;
}


.spellingError {
	background-color: #FF3333;
	font-weight: bold;
	color: #000000;
}

.grammarError {
	border-bottom: 1px dashed #006800;
}
