<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">

	<display-name>iWrite</display-name>

	<!-- Servlets -->
	<servlet>
		<servlet-name>glosserServlet</servlet-name>
		<servlet-class>au.edu.usyd.reviewer.server.rpc.GlosserServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>glosserServlet</servlet-name>
		<url-pattern>/au.edu.usyd.reviewer.Admin/glosserService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>adminServlet</servlet-name>
		<servlet-class>au.edu.usyd.reviewer.server.rpc.AdminServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminServlet</servlet-name>
		<url-pattern>/au.edu.usyd.reviewer.Admin/adminService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>assignmentServlet</servlet-name>
		<servlet-class>au.edu.usyd.reviewer.server.rpc.AssignmentServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>assignmentServlet</servlet-name>
		<url-pattern>/au.edu.usyd.reviewer.Assignment/assignmentService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>reviewServlet</servlet-name>
		<servlet-class>au.edu.usyd.reviewer.server.rpc.ReviewServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>reviewServlet</servlet-name>
		<url-pattern>/au.edu.usyd.reviewer.Review/reviewService</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>mystatsServlet</servlet-name>
		<servlet-class>au.edu.usyd.reviewer.server.rpc.MyStatsServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mystatsServlet</servlet-name>
		<url-pattern>/au.edu.usyd.reviewer.MyStats/mystatsService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>reviewerUtilServlet</servlet-name>
		<servlet-class>au.edu.usyd.reviewer.server.rpc.ReviewerUtilServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>reviewerUtilServlet</servlet-name>
		<url-pattern>/au.edu.usyd.reviewer.Assignment/reviewUtilService</url-pattern>
	</servlet-mapping>			
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>au.edu.usyd.reviewer.server.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/login/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>logoutServlet</servlet-name>
		<servlet-class>au.edu.usyd.reviewer.server.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutServlet</servlet-name>
		<url-pattern>/logout/*</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>fileServlet</servlet-name>
		<servlet-class>au.edu.usyd.reviewer.server.servlet.FileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fileServlet</servlet-name>
		<url-pattern>/file/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>reviewerAdminServlet</servlet-name>
		<servlet-class>au.edu.usyd.reviewer.server.rpc.ReviewerAdminServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>reviewerAdminServlet</servlet-name>
		<url-pattern>/au.edu.usyd.reviewer.ReviewerAdmin/reviewerAdminService</url-pattern>
	</servlet-mapping>
	
	<!-- Dispatcher Servlet for Controllers -->
	<servlet>
 		<servlet-name>mvc-dispatcher</servlet-name>
 		<servlet-class> org.springframework.web.servlet.DispatcherServlet </servlet-class>
 		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
 		<servlet-name>mvc-dispatcher</servlet-name>
 		<url-pattern>/v1/*</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/mvc-dispatcher-servlet.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>iWrite.html</welcome-file>
	</welcome-file-list>

	<!-- tomcat security -->
<!-- 	<security-constraint>
		<web-resource-collection>
			<web-resource-name>iWrite.html</web-resource-name>
			<description>login for iWrite</description>
			<url-pattern>/iWrite.html</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Guest</role-name>
			<role-name>SuperAdmin</role-name>
			<role-name>Admin</role-name>
		</auth-constraint>
	</security-constraint> -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Assignments.html</web-resource-name>
			<description>Assignments</description>
			<url-pattern>/Assignments.html</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Guest</role-name>
			<role-name>SuperAdmin</role-name>
			<role-name>Admin</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Admin.html</web-resource-name>
			<url-pattern>/Admin.html</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>au.edu.usyd.reviewer.Admin</web-resource-name>
			<url-pattern>/au.edu.usyd.reviewer.Admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>SuperAdmin</role-name>
			<role-name>Admin</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Review.html</web-resource-name>
			<url-pattern>/Review.html</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>au.edu.usyd.reviewer.Review</web-resource-name>
			<url-pattern>/au.edu.usyd.reviewer.Review/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Guest</role-name>
			<role-name>SuperAdmin</role-name>
			<role-name>Admin</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>ReviewerAdmin.html</web-resource-name>
			<url-pattern>/ReviewerAdmin.html</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>au.edu.usyd.reviewer.ReviewerAdmin</web-resource-name>
			<url-pattern>/au.edu.usyd.reviewer.ReviewerAdmin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>SuperAdmin</role-name>
		</auth-constraint>
	</security-constraint> 
	<login-config>
		<!--  auth-method>BASIC</auth-method-->     
		<auth-method>FORM</auth-method>
		<realm-name>iWrite</realm-name>        
		<form-login-config>
			<form-login-page>/Login.jsp</form-login-page>
			<form-error-page>/Login.jsp?error=true</form-error-page>
		</form-login-config>
	</login-config>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>au.edu.usyd.reviewer.controller.*</web-resource-name>
			<url-pattern>/v1/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>SuperAdmin</role-name>
			<role-name>Admin</role-name>
			<role-name>Guest</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<!-- <security-role>
    	<role-name>SuperAdmin</role-name>
		<role-name>Admin</role-name>
		<role-name>Guest</role-name>	
	</security-role> -->
	<!-- session config -->
	<session-config>
		<session-timeout>300</session-timeout>
	</session-config>
</web-app>
